body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.navbar{
    background-image: linear-gradient(rgb(253, 59, 0),brown) ;
    display: flex;
    justify-content: space-between;
}
.logo{
    color: white;
    text-decoration: none;
    font-size: xx-large;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0.35rem;
    margin-left: 0.2rem;
}
.logo:hover{
    color: black;
 }
ul{
    display: flex; 
    color: white;
    list-style-type: none;

}

ul a{
    text-decoration: none;
    color: white; 
    
}
ul li{
    margin-left: 0.5rem;
    margin-right: 0.4rem;

}
ul li a:hover{
   color: black;
}

.image{
    background-image: url(mac.jpg); 
    background-size: cover;
    background-repeat: round;
    
}

.image{
    display: flex;
    flex-direction: column;
    height: 95vh;
    align-items: center;
    justify-content: center;
   color: rgb(255, 255, 255);
   background-blend-mode: soft-light;
    font-size: x-large; 
    text-align: center;
}

.btn{
    padding:1.5rem;
    background-image: linear-gradient(rgb(253, 59, 0),brown) ;
    color: white;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
}

.btn:hover{
    background-image: linear-gradient(rgb(0, 0, 0),rgb(119, 119, 119)) ;
    color: rgb(253, 253, 253);
    transition: 0.6s;
}















